{# src/UB/CoreBundle/Resources/views/Parameter/add.html.twig #}

{% extends "UBPlatformBundle::layout.html.twig" %}

{% block title %}
  Platforme index - {{ parent() }}
{% endblock %}

{% block ubplatform_body %}

  <h2>Paramétrage actuel de l'application</h2>


  {% endblock %}